.example-card {
  max-width: 300px;
}

.example-header-image {
  background-image: url('https://www.jamf.com/jamf-nation/img/default-avatars/generic-user-purple.png');
  background-size: cover;
}

.margin-auto {
  margin: auto;
}

.left-padding {
  margin-left: 20px;
}
