.example-card {
  padding-top: 30px;
  margin-top: 10px;
  max-width: 400px;
  margin: auto;
}

  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }

.left-padding {
  margin-left: 10px;
}